# CodeIgniter session files
application/session/

# CodeIgniter log files
application/logs/log-*.php
!application/logs/index.html # Biasanya ada index.html dummy

# CodeIgniter cache files
application/cache/
!application/cache/index.html
!application/cache/.htaccess

# Composer vendor directory
vendor/

# Environment file
.env
buat_hash.php
test_session_write.php
ttd/*