# CodeIgniter session files
application/session/

# CodeIgniter log files
application/logs/log-*.php
!application/logs/index.html # Biasanya ada index.html dummy

# CodeIgniter cache files
application/cache/
!application/cache/index.html
!application/cache/.htaccess

# Vendor directory (if using Composer)
/vendor/

# Environment file
.env